[email]

to_address = "example@example.com"
from_address = "example@example.com"
transport_method = "smtp" ; Accepted values: smtp, sendmail, mail

; Sendmail options
sendmail_cmd = "" ; Defaults to '/usr/sbin/sendmail -bs'

; SMTP options
smtp_host = "smtp.example.com"
smtp_port = 25
smtp_encryption = "ssl"
smtp_username = "username"
smtp_password = "password"

[users]

; Account details of a user with an Editor profile.
editor_username = "demo"
editor_password = "demo123"
editor_group_id = 2

; Account details of a user with an Administrator profile.
admin_username = "admin"
admin_password = "admin"

[api]

; Base URL for GeoNetwork where XML services will be appended to form different endpoints.
geonetwork_baseURL = "http://localhost:8080/geonetwork/srv/eng/"

; Endpoint for the GEO label service
geolabel_endpoint = "http://www.geolabel.net/api/v1/geolabel"
feedback_endpoint = "https://geoviqua.stcorp.nl/api/v1/feedback"